.card {
  position: absolute!important;
  max-height: clamp(3rem, 10vw, 5rem);
  aspect-ratio: 16/9;
  pointer-events: all;
  transition-property: top, left;
  transition-duration: 1s;
  transition-timing-function: ease;
}

.card > img {
  transform-origin: center;
  transition: transform 500ms ease;
}

.card:hover > img {
  transform: scale(1.1);
}

.card:nth-child(1) {
  top: 5%!important;
  left: 5%!important;
}

.card:nth-child(2) {
  top: 35%!important;
  left: 12.5%!important;
}

.card:nth-child(3) {
  top: 70%!important;
  left: 7.5%!important;
}

.card:nth-child(4) {
  top: 8.5%!important;
  left: 28.5%!important;
}

.card:nth-child(5) {
  top: 18.5%!important;
  left: 45%!important;
}

.card:nth-child(6) {
  top: 60%!important;
  left: 27.5%!important;
}

.card:nth-child(7) {
  top: 80%!important;
  left: 42.5%!important;
}

.card:nth-child(8) {
  top: 65%!important;
  left: 62.5%!important;
}

.card:nth-child(9) {
  top: 10.5%!important;
  left: 70%!important;
}

.card:nth-child(10) {
  top: 27.5%!important;
  left: 80%!important;
}

.card:nth-child(11) {
  top: 74.5%!important;
  left: 85.5%!important;
}

@media only screen and (max-width: 576px) {
  .card:nth-child(1) {
    top: 2.5%!important;
    left: 10%!important;
  }

  .card:nth-child(2) {
    top: 57.5%!important;
    left: 12.5%!important;
  }

  .card:nth-child(3) {
    top: 77.5%!important;
    left: 7.5%!important;
  }

  .card:nth-child(4) {
    top: 20.5%!important;
    left: 7.5%!important;
  }

  .card:nth-child(5) {
    top: 5%!important;
    left: 45.5%!important;
  }

  .card:nth-child(6) {
    top: 33.5%!important;
    left: 32.5%!important;
  }

  .card:nth-child(7) {
    top: 82.5%!important;
    left: 57.5%!important;
  }

  .card:nth-child(8) {
    top: 60%!important;
    left: 62.5%!important;
  }

  .card:nth-child(9) {
    top: 10.5%!important;
    left: 75%!important;
  }

  .card:nth-child(10) {
    top: 37.5%!important;
    left: 80%!important;
  }

  .card:nth-child(11) {
    top: 70.5%!important;
    left: 77.5%!important;
  }
}
